@model Member
@{
    ViewData["Title"] = "Register Member";
    Layout = "_Layout_confirmation";
    var memberData = ViewData["memberModel"] as Member;
 }

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        @Html.Partial("_Header")
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="SaveData" asp-controller="Register">
        <p>Card No: @memberData.Card_no </p>
        <p>Personal ID: @memberData.Personal_id </p>
        <p>Mobile No: @memberData.Mobilephone </p>
        <p>Birth Date: @memberData.Birthday </p>
        <input type="hidden" name="Card_no" id="Card_no" value="@memberData.Card_no" />
        <input type="hidden" name="Personal_id" id="Personal_id" value="@memberData.Personal_id" />
        <input type="hidden" name="Mobilephone" id="Mobilephone" value="@memberData.Mobilephone" />
        <input type="hidden" name="Birthday" id="Birthday" value="@memberData.Birthday" />
        <input type="submit" value="Save this Data" />
        </form>
    </div>
</div>
